@{
    ViewData["Title"] = "Home Page";
}

<!-- Ici le contenu de la page est décrit en html -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Il est @Model.</p>
</div>

<form method="POST">
    <label for="nom">Nom</label>
    <input type="text" id="nom" placeholder="Name" />
    <label for="prenom">Prenom</label>
    <input type="text" id="prenom" placeholder="lastName" />
    <label for="login">E-mail</label>
    <input type="text" id="login" placeholder="Mail" />
    <label for="password">Mot de passe</label>
    <input type="text" id="password" placeholder="Mdp" />
    <input type="submit" />
</form>

<a href='@Url.Action("Index", "Topics")'>
    <input type='button' value='Dummy Button' />
</a>